body{
background-color:#101033;
font-family: Times New Roman, Verdana, sans-serif;
text-align:center;
margin:0px;
max-width:1366px;
}
#cialo{
min-width: 600px;
max-width:1366px;
color:#ffcc66;
}
#logo{
width:100%;
font-size:100;
font-weight:bold;
text-align:center;
background-color:#00001a;
}
#menu{
display:block;
font-size:20;
font-weight:bold;
width:96%;
padding:2%;
background-color:#00001a;
font-weight:bold;
}
#tresc{
background-color:#00001a;
width:100%;
height:70%;
}
footer{
display:block;
position:fixed;
bottom:0px;
left:0px;
width:100%;
background-color:#00001a;
border-top:1px solid;
}
#home{
padding:2%;
}
#kursy{
padding:2%;
}
#history{
padding:2%;
}
table{
	color:white;
}
hr{
  color:#ffcc66;
}
a:link, a:visited {
	background-color:#ffcc66;
	padding:10px;
	display: inline-block;
	text-decoration: none;
        color:#000000;
	font-size:15;
}
a:hover{
	background-image:linear-gradient(#ffcc66,#ffaa66);
	box-shadow: 1px 1px 2px #ffcc66;
}
.border_goradol{
border-top: 1px solid;
border-bottom: 1px solid;
margin-top:1%;
margin-bottom:1%;
}

