{% extends 'base/base.html' %}


{% block content %}

    <h2>Your owned currencies</h2>
    <ul class="collection">
    {% for currency in owned %}
        <li class="collection-item">
            <div>
                {{ currency.amount }} {{ currency.currency_abbreviation }}
                <a href="{% url 'trading_app:sell' currency.currency_abbreviation %}" class="secondary-content">
                    <i class="material-icons">Sell</i>
                </a>
            </div>
        </li>
    {% endfor %}
    </ul>
{% endblock %}