{% extends 'base/base.html' %}


{% block content %}

{% include 'base/jquery.html' %}

    {% load static %}
    <script>
        var endpoint = "{% url 'trading_app:api-currencies' %}";
    </script>
    <script src="{% static 'trading_app/scripts/totalPrice.js' %}"></script>
    <script src="{% static 'trading_app/scripts/sell.js' %}"></script>

    <form method='POST'>
        {% csrf_token %}
        {{ form }}
        <button class="btn waves-effect waves-light red lighten-1" type="submit" name="action">
            Sell
        </button>    
    </form>

    <p id='totalPrice'></p>

{% endblock %}
